.undernav{
	margin-top: 100px;
	width:50%;
}

/*размер дива, где размещаются таблицы заявок в консолях:*/
.tablesconsole{

    max-height:500px;
   /* overflow-y:auto;
    overflow-x: scroll;*/
}
/*размер таблиц в консоли*/
#tableinconsole{
    position: relative;
    height: 10px;
    overflow: auto;

}

.main-theme{
	margin: 50px 20px 20px 20px;
	padding: 10px;
}
.inputfield{
	margin-bottom: 2px;
}
.selectors{
	width: 20em;
	margin-bottom: 2px;
	margin-left: 15px;
}
#regbutton{
	margin-left: 15px;
}
.underhead{
	margin-top: 50px;
}
.scrolling {
    max-height:600px;
    overflow-y:auto;  
}

