<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}

    <meta charset="UTF-8">
    <title>{%block header %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet", type="text/css">
    <link href = "{% static 'css/mystyles.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-default"  role="navigation">
  			<ul class="nav navbar-nav">

	        	{% if usertype == 'Manager' %}

                    <li class="active"><a href="#">Консоль менеджера</a></li>
                    <li><a href="#">Новая заявка</a></li>
                    <li><a href="#">Заявки в работе</a></li>
                    <li><a href="#">Загрузка инженеров</a></li>
                    <li><a href="companypage">Компании</a></li>
                    <li><a href="#">Пользователи</a></li>
                    <li><a href="#">Оборудование</a></li>

                {% elif usertype == 'Dispatcher'  %}

                    <li class="active"><a href="#">Консоль диспетчера</a></li>
                    <li><a href="#">Новая заявка</a></li>
                    <li><a href="#">Заявки в работе</a></li>
                    <li><a href="#">Загрузка инженеров</a></li>
                    <li><a href="#">Компании</a></li>
                    <li><a href="#">Пользователи</a></li>
                    <li><a href="#">Оборудование</a></li>

                {% elif usertype == 'Engineer' %}

                    <li class="active"><a href="#">Консоль исполнителя</a></li>
                    <li><a href="#">Компании</a></li>
                    <li><a href="#">Пользователи</a></li>
                    <li><a href="#">Оборудование</a></li>

                {% else %}
                    <li class="active"><a href="#">Консоль клиента</a></li>
                    <li><a href="#">Новая заявка</a></li>
                    <li><a href="companypage">О компании</a></li>
                    <li><a href="#">Пользователи</a></li>
                    <li><a href="#">Оборудование</a></li>

                {% endif %}

  			</ul>

            <button type="exit" class="btn btn-default navbar-btn pull-right">Выйти</button>
            <a class="pull-right" style="margin-right: 10px; margin-top: 20px">Здравствуйте, {{ user.first_name }}</a>

  	</nav>
    {% block otherbodycontent %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>