<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}

    <meta charset="UTF-8">
    <title>{%block header %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet", type="text/css">
    <link href = "{% static 'css/mystyles.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-default"  role="navigation">
  			<ul class="nav navbar-nav">

	        	{% if usertype == 'Manager' %}

                    <li class="active"><a href="/">Консоль менеджера</a></li>
                    <li><a href="/new_request">Новая заявка</a></li>
                    <li><a href="active_requests">Заявки в работе</a></li>
                    <li><a href="#">Загрузка инженеров</a></li>
                    <li><a href="/get_name">your-name</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Списки <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/companiespage">Компании</a></li>
                            <li><a href="/userspage">Пользователи</a></li>
                            <li><a href="/equipspage">Оборудование</a></li>
                        </ul>
                    </li>


                {% elif usertype == 'Dispatcher'  %}

                    <li class="active"><a href="/">Консоль диспетчера</a></li>
                    <li><a href="/new_request">Новая заявка</a></li>
                    <li><a href="/active_requests">Заявки в работе</a></li>
                    <li><a href="#">Загрузка инженеров</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Списки
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/companiespage">Компании</a></li>
                            <li><a href="/userspage">Пользователи</a></li>
                            <li><a href="/equipspage">Оборудование</a></li>

                        </ul>
                    </li>



                {% elif usertype == 'Engineer' %}

                    <li class="active"><a href="/">Консоль исполнителя</a></li>
                    <li><a href="/companiespage">Компании</a></li>
                    <li><a href="/userspage">Пользователи</a></li>
                    <li><a href="/equipspage">Оборудование</a></li>

                {% else %}
                    <li class="active"><a href="/">Консоль клиента</a></li>
                    <li><a href="/new_request">Новая заявка</a></li>
                    <li><a href="/companiespage">О компании</a></li>
                    <li><a href="/userspage">Пользователи</a></li>
                    <li><a href="/equipspage">Оборудование</a></li>

                {% endif %}

  			</ul>

            <button type="exit" class="btn btn-default navbar-btn pull-right">Выйти</button>
            <a class="pull-right" style="margin-right: 10px; margin-top: 20px">Здравствуйте, {{ user.first_name }}</a>

  	</nav>
    {% block otherbodycontent %}{% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>