{% extends "base-nav.html" %}
{% block header %}Новая аявка{% endblock %}
{% block otherbodycontent %}
    <div class="row-fluid">
            <div class = col-md-4>
                <h1>Новая заявка</h1>
            </div>
            <div class="col-md-8 col-md-offset-2 panel panel-info ">
                <div class="panel-heading"><h3 style="text-align: center">Информация о заявке</h3></div>
                    <div class="panel-body">
                        <form action="/choose_company_new_req" method="post">
                            <table class="table table-responsive">
                                {% csrf_token %}
                                {{ form.as_table }}

                            </table>

                            <input type="submit" value="Выбрать" />
                        </form>

                    </div>
                </div>
            </div>

{% endblock %}
