{% extends "base-nav.html" %}
{% block header %}Журнал заявки{% endblock %}
{% block otherbodycontent %}
    <div class ="container-fluid" >
    	<div class ="row " >
    		<h3 class="text-center"> Журнал заявки </h3>
    	</div>
    	<br/><br/>
        <div class="row-fluid">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Детали заявки
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td><b>№заявки:</b></td>
                                    <td>{{ reqobject.id }}</td>
                                </tr>
                                <tr>
                                    <td><b>Компания:</b></td>
                                    <td>{{ reqobject.company }}</td>
                                </tr>
                                <tr>
                                    <td><b>Заголовок:</b></td>
                                    <td>{{ reqobject.header}}</td>
                                </tr>
                                <tr>
                                    <td><b>Краткая информация:</b></td>
                                    <td>{{ reqobject.info }}</td>
                                </tr>
                                <tr>
                                    <td><b>Дата создания:</b></td>
                                    <td>{{ reqobject.createtime }}</td>
                                </tr>
                                <tr>
                                    <td><b>Заявитель:</b></td>
                                    <td>{{ reqobject.creator }}</td>
                                </tr>
                                <tr>
                                    <td><b>Тип заявки:</b></td>
                                    <td>{{ reqobject.reqtype }}</td>
                                </tr>
                                <tr>
                                    <td><b>Приоритет:</b></td>
                                    <td>{{ reqobject.priority }}</td>
                                </tr>
                                <tr>
                                    <td><b>Cтатус:</b></td>
                                    <td>{{ reqobject.status }}</td>
                                </tr>

                                <tr>
                                    <td><b>Диспетчер:</b></td>
                                    {% if reqobject.dispatcher == None %}
                                        <td>Не назначен</td>
                                    {% else%}
                                        <td>{{ reqobject.dispatcher }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><b>Группа:</b></td>
                                    {% if reqobject.group == None %}
                                        <td>Не назначена</td>
                                    {% else%}
                                    <td>{{ reqobject.group }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><b>Исполнитель:</b></td>
                                    {% if reqobject.group == None %}
                                        <td>Не назначен</td>
                                    {% else%}
                                    <td>{{ reqobject.engineer }}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td><b>Оборудование:</b></td>
                                    {% if reqobject.equipment == None %}
                                        <td>Не выбрано</td>
                                    {% else %}
                                        <td>{{ reqobject.equipment }}</td>
                                    {% endif %}
                                </tr>
                                {% if reqobject.status.id > 6 %}
                                    {% if reqobject.solution != None %}
                                        <tr>
                                            <td><b>Решение:</b></td>
                                            <td>{{ reqobject.solution }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}


                            </tbody>

                        </table>
                        {% if need_approve %}
                            <form action="/{{ reqobject.id }}/client_request_journal" method="post">
                                <table class=" table table-responsive">
                                    {{ reqform.as_table }}
                                </table>
                                <input type="submit" value="Сохранить" />
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        Рабочий журнал
                    </div>
                    <div class="panel-body ">
                        <ul class="media-list scrolling">
                            {% for comment in comments %}
                                <li class="media">
                                    <div class="media-body">
                                        {{ comment.content }}
                                        <br />
                                        <small class="text-muted">{{ comment.author }} | {{ comment.date_time }}</small>
                                        <hr />
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                            <form action="/{{ reqobject.id }}/client_add_comment" method="post">
                                <div class = "row">
                                    <div class="col-sm-8">
                                        {% csrf_token %}
                                        {{ commentform }}
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class="col-sm-offset-8 col-sm-5">
                                        <button type="submit" class="btn btn-default" id="regbutton">Отправить</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/request_journal.js' %}"></script>
{% endblock %}