{% extends "base-nav.html" %}
{% block header %}Компании{% endblock %}
{% block otherbodycontent %}

        <div class = row-fluid>

            {% if usertype != 'Client' %}
                <div class = col-md-4>
                    <h1>Компании</h1>
                </div>

                <div class="col-md-8 col-md-offset-2 panel panel-info scrolling">
                    <div class="panel-heading"><h3 style="text-align: center">Основная информация</h3></div>
                    <div class="panel-body">
                        <table class="table table-responsive" >
                            <tbody>
                                <tr>
                                    <td><b>Наименование</b></td>
                                    <td><b>Адрес</b></td>
                                    <td><b>Телефон</b></td>
                                    <td><b>Представитель</b></td>
                                    <td><b>Фокус-менеджер</b></td>
                                </tr>

                                {% for comp in companies %}
                                    <tr style="cursor: pointer" onclick="window.location.replace('/{{ comp.id }}/DetailCompany')" >
                                        <td>{{ comp.name }}</td>
                                        <td>{{ comp.address }}</td>
                                        <td>{{ comp.phone }}</td>
                                        <td>{{ comp.manager }}</td>
                                        <td>{{ comp.focus }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">Nothing to show</td>
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>
            {% else%}
                <div class = col-md-4>
                    <h1>{{ clientcompany.name }}</h1>
                </div>
                <div class = row-fluid>
                    <div class="col-md-6 panel panel-info">
                        <div class="panel-heading"><h3>Информация о компании</h3></div>
                        <div class="panel-body">
                            <table class="table" >
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="text-align: center"><b>Телефон:</b></td>
                                            <td colspan="2"style="text-align: left"><p>{{ clientcompany.phone }}</p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center"><b>Адрес:</b></td>
                                            <td colspan ="2" style="border-bottom-width:0px; text-align: left "><p>{{ clientcompany.address }}</p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-width: 0px"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-width: 0px"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style = "text-align: center; border-top-width: 0px"><b>Представительство</b></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><b>Ф.И.О</b></td>
                                            <td><b>Телефон</b></td>
                                            <td><b>Email</b></td>
                                        </tr>
                                        <tr>
                                            <td><b>Менеджер:</b></td>
                                            <td><p>{{ managername }}</p></td>
                                            <td><p>{{ manager.phone }}</p></td>
                                            <td><p>{{ manager.email }}</p></td>
                                        </tr>
                                        <tr>
                                            <td><b>Фокус-менеджер:</b></td>
                                            <td><p>{{ focusname }}</p></td>
                                            <td><p>{{ fosus.phone }}</p></td>
                                            <td><p>{{ focus.email }}</p></td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        {% endif %}

{% endblock %}
