{% extends "base-nav.html" %}
{% block otherbodycontent %}
    {% block header %}Карточка компании{% endblock %}
    <div class = form-row>
        <div class = col-md-4>
            <h1>Компания</h1>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for company...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


    </div>
{% endblock %}
