{% extends "base-nav.html" %}
{% block header %}Заявка зарегистрирована{% endblock %}
{% block otherbodycontent %}
    <div class = row>
        <div class = "col-md-6 col-md-offset-2">
            <div class="alert alert-success">
                <h4>Уважаемый {{ username }}! Ваша заявка " {{ created_request.header }}" № {{ created_request.id }} зарегистрирована!</h4>
            </div>
        </div>
    </div>
    <div class= row>
        {% if usertype == 'Клиент' %}
            <div class = "col-md-6 col-md-offset-2">
               <a href='/{{ created_request.id }}/client_request_journal'><p>Открыть журнал заявки</p></a>
            </div>
        {% else %}
             <div class = "col-md-6 col-md-offset-2">
               <a href='/{{ created_request.id }}/request_journal'><p>Открыть журнал заявки</p></a>
            </div>

        {% endif %}

    </div>


{% endblock %}