<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Новая заявка</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href = "css/mystyles.css" rel="stylesheet" type="text/css">
  	</head>
    <body>

    	<form class="form-horizontal main-theme" role="form">
    	
		    <div class="form-group">
			  	
			  	<div class = "row ">
			  		<div class="col-md-3  col-md-offset-2 ">
	    				<h3> Новая заявка</h3>
	    			</div>
	    		</div>
	    		<div class = "row ">
				    <label for="inputEmail3" class="col-sm-2 control-label">Компания</label>
				    <div class="col-sm-6">
				      	<input type="inputEmail3" class="form-control inputfield" id="inputEmail3" placeholder="Компания">
				    </div>
				</div>
				<div class = "row ">
				    <label for="inputEmail3" class="col-sm-2 control-label">Заявитель</label>
				    <div class="col-sm-6">
				        <input type="inputEmail3" class="form-control inputfield" id="inputEmail3" placeholder="Заявитель">
				    </div>
				</div>
	    		<div class = "row ">
				    <label for="inputEmail3" class="col-sm-2 control-label">Заголовок</label>
				    <div class="col-sm-6">
				       <input type="inputEmail3" class="form-control inputfield" id="inputEmail3" placeholder="Заголовок">
				    </div>
				</div>
				<div class = "row">
				    <label for="inputEmail4" class="col-sm-2 control-label " id = "inputEmail4">Краткая информация</label>
				    <div class="col-sm-6">
				      <textarea class="form-control inputfield" rows="6" placeholder="Опишите суть обращения"></textarea>
				    </div>
				</div>
				<div class = "row">
				    <label for="inputEmail4" class="col-sm-2 control-label " id = "inputEmail4">Договор</label>
				    <div class="col-sm-6">
				       <input type="inputEmail3" class="form-control inputfield" id="inputEmail3" placeholder="Договор">
				    </div>
				</div>
				<div class = "row">
				    <label for="inputEmail4" class="col-sm-2 control-label " id = "inputEmail4">Оборудование</label>
				    <div class="col-sm-6">
				       <input type="inputEmail3" class="form-control inputfield" id="inputEmail3" placeholder="Оборудование">
				    </div>
				</div>
				<div class = "row ">	
					<label for="inputEmail3" class="col-sm-2  control-label">Тип</label>	
					 	<select class="form-control col-sm-2  selectors">
							  <option>Аварийная ситуация</option>
							  <option>Запрос на обслуживание</option>
							  <option>Запрос на изменение</option>
						</select>   
				</div> 	
				<div class = "row">
				    <label for="inputEmail3" class="col-sm-2  control-label">Приоритет</label>
				    <div class="col-sm-3  inputfield">
				     	<div class="radio">
							    <label>
							        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							        	Критический
							    </label>
						</div>
						<div class="radio">
							    <label>
							        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							          	Высокий 
							    </label>
						</div>
						<div class="radio">
							    <label>
							        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							          	Средний 
							    </label>
						</div>
						<div class="radio">
							    <label>
							        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							          	Низкий
							    </label>
						</div>
				    </div>
				</div>
				<div class = "row">
				    	<div class="col-sm-offset-6 col-sm-5">
				        	<button type="submit" class="btn btn-default" id="regbutton">Зарегистрировать</button>
				        
						</div>
				</div>
			</div>
		</form>
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
    </body>
</html>			    
			    
