<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}

    <meta charset="UTF-8">
    <title>Главная</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet", type="text/css">
    <link href = "{% static 'css/mystyles.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container-fluid " style="height: 700px; background-color: #bce8f1" >

        <div class="container-fluid col-md-offset-2 col-md-8" style="background-color:#fff; height: 700px " >
            <div class="container-fluid " style="background-color:lightblue; border-radius: 5px;border-color: #080808; margin-top: 5px">
                <h2 class= "text-center" style="color: darkslategray; font-family: cursive">EterntyServiceDesk</h2>
            </div>
            <div class="row ">
                <div class="container-fluid col-md-12 " style="background-color:transparent ; height: 150px; border-radius: 5px; margin-top: 5px">
                    <h3 class="text-center" style="font-family:cursive; color:steelblue">Автоматизированная система службы поддержки <br>
                        информационно-вычислительной сети клиента<br>
                    </h3>
                </div>
                </div>
            <div class="row">
                <div class=" container col-md-7">
                    <h4>Система предназначена для эффективного управления запросами клиентов службы поддержки.</h4>
                    <h5>Система позволяет:</h5>
                    <ul>
                        <li>регистрировать обращения (заявки) с разным приоритетом,;</li>
                        <li>назначать исполнителя для проведения работ по заявкам;</li>
                        <li>отслеживать выполнение работ по заявкам;</li>
                        <li>взаимодействовать заказчикам с исполнителями в рамках решения проблемы.</li>

                    </ul>
                </div>

                <div class="container col-md-4" style="background-color: lightblue;height: 200px;border-radius: 5px;border-color:#000000; border-width: 5px ;margin-top:5px">
                    <form class="form-signin" role="form" method="post">
                        <h4 class="form-signin-heading">Уже зарегистрированы?</h4>
                        <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus="">
                        <input type="password" class="form-control" placeholder="Password" name="password" required="">
                        <label class="checkbox pull-right">
                            <input type="checkbox" value="remember-me" class="pull-right"> Запомнить
                        </label>
                        <button class="btn btn-lg  btn-block" style="background-color: #f5f5f5" type="submit">Войти</button>
                    </form>
                </div>

            </div>
            <div class="row-fluid col-md-12" style="height: 100px">

            </div>
            <div class="row-fluid">
                <div class="col-md-12" style="background-color: lightblue; height: 100px;border-width: 2px; border-radius: 5px;border-color: palevioletred; margin-top: 5px">
                    <h4 style="color:#31708f">Наши контакты:</h4>
                    <address>
                        <strong>Головной офис ESD</strong><br>
                        <p class="col-md-4">Адрес: Москва, ул. Новая, 8</p>
                        <p class="col-md-4 ">Email: contract@esd.ru </p>
                        <p class=" col-md-4" >Тел: (495) 888-8888</p>

                    </address>
                </div>
            </div>
        </div>



    </div>











     <!--<div class="container" style="height: 700px; background-color: #f5f5f5" >
        <div class="row1">
            <div class="col-md-8 col-md-offset-2 bg-info" style="height: 5em" >

            </div>
        </div>
        <div class="row " style="background-color: #c7ddef" >
            <div class="row">
                <div class="col-md-8 col-md-offset-2 " style="height: 5em" >
                    <h1>EterntyServiceDesk</h1>
                </div>
            </div>
            <div class="row1">
                <div class="col-md-8 col-md-offset-2 " style="height: 15em" >
                    <h3>Что зачем почему и как</h3>
                    <p>Можно много всего написатьМожно много всего написатьМожно много всего написать</p>
                    <p>Можно много всего написать</p>
                    <p>Можно много всего написать</p>
                    <p>Можно много всего написать</p>
                </div>
                <div class="col-md-3 "></div>
                <div class="row1">

                </div>
            </div>
        </div>
-->


    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>