{% extends "base-nav.html" %}
{% block header %}Пользователи{% endblock %}
{% block otherbodycontent %}
     <div class= "row-fluid">

            {% if usertype != 'Client' %}
                <div class = col-md-2>
                    <h1>Пользователи</h1>
                </div>
     </div>
            <div class="row-fluid">
                <div class="col-md-10 col-md-offset-1 panel panel-info scrolling ">
                    <div class="panel-heading"><h3 style="text-align: center">Основная информация</h3></div>
                    <div class="panel-body">
                        <table class=" table table-bordered ">
                            <tbody>
                                <tr>
                                    <td><b>Фамилия</b></td>
                                    <td><b>Имя</b></td>
                                    <td><b>Отчество</b></td>
                                    <td><b>Логин</b></td>
                                    <td><b>Тип пользователя</b></td>
                                    <td><b>Компания</b></td>
                                    <td><b>Телефон</b></td>
                                    <td><b>Email</b></td>
                                    <td><b>Расположение</b></td>
                                </tr>

                                {% for person in men %}
                                    <tr style="cursor: pointer" onclick="window.location.replace('/{{ person.id }}/user')" >
                                        <td>{{ person.last_name }}</td>
                                        <td>{{ person.first_name }}</td>
                                        <td>{{ person.patronymic }}</td>
                                        <td>{{ person.username }}</td>
                                        <td>{{ person.usertype }}</td>
                                        <td>{{ person.company }}</td>
                                        <td>{{ person.phone }}</td>
                                        <td>{{ person.email }}</td>
                                        <td>{{ person.place }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="9">Nothing to show</td>
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
            {% else%}
                <div class = col-md-2>
                    <h1>{{ user.company }}</h1>
                </div>
                <div class = row-fluid>
                    <div class="col-md-10 col-md-offset-1 panel panel-info">
                        <div class="panel-heading"><h3 style="text-align: center">Основная информация</h3></div>
                        <div class="panel-body">
                            <table class="table-bordered table">
                                <tbody>
                                     <tr>
                                         <td>Фамилия</td>
                                         <td>Имя</td>
                                         <td>Отчество</td>
                                         <td>Логин</td>
                                         <td>Телефон</td>
                                         <td>Email</td>
                                         <td>Расположение</td>
                                     </tr>

                                        {% for person in clientusers %}
                                            <tr>

                                                <td>{{ person.last_name }}</td>
                                                <td>{{ person.first_name }}</td>
                                                <td>{{ person.patronymic }}</td>
                                                <td>{{ person.username }}</td>
                                                <td>{{ person.phone }}</td>
                                                <td>{{ person.email }}</td>
                                                <td>{{ person.place }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9">Nothing to show</td>
                                            </tr>
                                        {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

        {% endif %}
     </div>
{% endblock %}